@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header,
footer,
button,
#coluna-acao, 
#coluna-botao {
    display: none;
}

body {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black !important;
    padding: 5px !important;
    text-align: left;
    color: black !important;
}

main::after {
    content: ' Relatório de produtos cadastrados, desenvolvido por Sávio Sérgio';
    position: fixed;
    bottom: 0;
    left: 0;
}