@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {


  /* Cores de fundo */
  --cor-background: #ededf2;
  --cor-cabecalho: #a6aec1;
  --cor-section: #cfd5e1;
  --cor-modal: rgba(0, 0, 0, 0.3);
  --cor-rodape: #6c788e;

  /* Cores de texto */
  --cor-texto: #040F1A;
  --cor-texto-claro: #F2F2F2;
  --cor-placeholder: #888;

  /* Cores de botões */
  --cor-navegacao: #6c788e;
  --cor-botao: #007BFF;
  --cor-botao-hover: #0056b3;
  --cor-botao-editar: #4CAF50;
  --cor-botao-editar-hover: #45a049;
  --cor-botao-excluir: firebrick;
  --cor-botao-excluir-hover: #ffff;

  /* Cores de feedback */
  --cor-feedback: #155724;
  --cor-feedback-bg: #d4edda;

  /* Fonte */
  --fonte-padrao: "Inter", serif;

  /* Outras cores */
  --cor-borda: #ccc;
  --cor-tabela-borda: #ddd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--fonte-padrao);
  background-color: var(--cor-background);
  color: var(--cor-texto);
  font-weight: 400;
}

header {
  background-color: var(--cor-cabecalho);
  color: var(--cor-texto-claro);
  padding: 10px;


  display: flex;
  justify-content: space-around;
  align-items: center;
}

header>h1 {
  font-family: var(--fonte-padrao);
  font-weight: 600;
}

header>nav {
  display: flex;
  flex-basis: 420px;
  justify-content: space-around;
}

.button-header {
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--cor-navegacao);
  color: var(--cor-texto-claro);
  text-decoration: none;
}

.button-header:hover {
  background-color: none;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

main>section {
  background-color: var(--cor-section);

  width: 95%;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

#form-container {
  max-width: 600px;
}

form {
  padding: 8px;
  gap: 7px;

  display: flex;
  flex-flow: column nowrap;
}

form>label {
  font-weight: bold;
}

form input,
form textarea,
form select {
  padding: 10px;
  border: 1px solid var(--cor-borda);
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 5px;
}

form input:focus,
form textarea:focus,
form select:focus {
  border-color: var(--cor-navegacao);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: var(--cor-placeholder);
  font-weight: 100;
  font-size: 1em;

}

.button-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 0 100px;
}

form>nav>button {
  padding: 10px 15px;
  background-color: var(--cor-botao);
  color: var(--cor-texto-claro);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form>nav>button:hover {
  background-color: var(--cor-botao-hover);
}

#mensagem-feedback {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  background-color: var(--cor-feedback-bg);
  color: var(--cor-feedback);
}

#modal-vazio {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 420px;
  background-color: var(--cor-section);
  margin: auto;
  font-style: italic;
  font-size: 1em;
  font-weight: 600;
  color: var(--cor-texto-claro);
  border-radius: 22px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

table,
th,
td {
  border: 1px solid var(--cor-tabela-borda);
}

th,
td {
  padding: 10px;
  text-align: left;
}

button {
  padding: 10px;
  background-color: var(--cor-botao);
  color: var(--cor-texto-claro);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-botao-hover);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-modal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--cor-background);

  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 18px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  color: var(--cor-texto-claro);
  cursor: pointer;
}

.edit-btn,
.excluir-btn {
  background-color: var(--cor-botao-editar);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: var(--cor-botao-editar-hover);
}

#reset,
.excluir-btn {
  background-color: var(--cor-botao-excluir);
}

#reset:hover,
.excluir-btn:hover {
  background-color: var(--cor-botao-excluir-hover);
}


footer {
  text-align: center;
  background-color: var(--cor-rodape);
  padding: 10px;
  color: var(--cor-texto-claro);
}

footer>p>a {
  color: var(--cor-texto-claro);
}