@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --cor-background: #ededf2;
  --cor-cabecalho: #a6aec1;
  --cor-destaque: #6c788e;
  --cor-texto: #040F1A;
  --cor-principal: #F2F2F2;

  --fonte-padrao: "Inter", serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-padrao);
  background-color: var(--cor-background);
  color: var(--cor-texto);
  font-weight: 400;
}

header {
  height: 7vh;
  background-color: var(--cor-cabecalho);
  color: var(--cor-principal);
  padding: 10px;
  

  display: flex;
  justify-content: space-around;
  align-items: center;
}

header>h1 {
  font-family: var(--fonte-padrao);
  font-weight: 600;
}

header>nav {
  display: flex;
  flex-basis: 420px;
  justify-content: space-around;
}

.button-header{
 text-decoration: none;
 font-weight: 500;
 padding: 10px 20px;
 border-radius: 15px;
 background-color: var(--cor-destaque);
}

main {
  height: 84vh;
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
}

main>section {
  background-color: #cfd5e1;

  width: 95%;
  margin: auto;
  margin-top: 4vh;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

form {
  padding: 8px;
  gap: 7px;

  display: flex;
  flex-flow: column nowrap;
}

form>label {
  font-weight: bold;
}

form input,
form textarea,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 5px;
}

form input:focus,
form textarea:focus,
form select:focus {
    border-color: var(--cor-destaque);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: #888;
  font-weight: 100;
  font-size: 1em;

}

.button-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 0 100px;
}

form>button {
  padding: 10px 15px;
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}

#mensagem-feedback {
    font-size: 1rem;
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--cor-background);

  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 18px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #45a049;
}

footer {
  height: 5vh;
  width: 100%;
  text-align: center;
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
  padding: 10px;
}